// screen size > 1800px
$inputWidth: 540px;
$searchIconPosition: $inputWidth - 40;

// screen size < 1800px
$inputWidthMdScreen: $inputWidth / 1.2;
$inputWidthMdScreen: $inputWidthMdScreen - 40;
$searchIconPositionMdScreen: $inputWidthMdScreen;

$searchIcon: "../../../src/assets/images/search-icon.png";

.input-search {
  width: $inputWidth;
  padding: 25px 20px;
  background-color: #ffffff;
  background-image: url($searchIcon);
  background-repeat: no-repeat;
  background-position: $searchIconPosition;
  background-size: 20px 22px;
  border: none;
  font-size: 24px;
  outline: none;

  &::placeholder {
    font-size: 16px;
    font-weight: bold;
    color: #e5e5e5;
  }
}

@media only screen and (max-width: 1800px) {
  .input-search {
    width: $inputWidthMdScreen;
    padding: 15px 20px;
    background-image: url($searchIcon);
    background-repeat: no-repeat;
    background-position: $searchIconPositionMdScreen;
  }
}

@media only screen and (max-width: 520px) {
  .input-search {
    width: 265px;
    padding: 10px;
    background-position: 255px;
  }
}
